

<div class="titulo">
<br>
<br>
<br>
 <h1><strong>SOBRE NOSOTROS</strong></h1>

  <div class="word">
    <span>S</span>
    <span>E</span>
    <span>R</span>
    <span>V</span>
    <span>I</span>
    <span>U</span>
    <span>M</span>
  </div>
</div>
<section class="fondo-imagen" style="background-image: url('../../assets/img/colaboradores.png');">
  <div class="container">
  <br>

    <div class="mat-elevation-z8 info col-sm-8  mb-2" style="float: left;" >
      <br>

      <h1 >
        <strong>MISIÓN</strong>
      </h1>

      <p >
          Somos una empresa enfocada en satisfacer las necesidades de nuestros clientes,
          ofreciendo servicios inmobiliarios de calidad, seguros y dentro de los plazos y
          presupuestos establecidos, todo en base a la experiencia y excelencia profesional,
          fundamentados en los valores de honestidad y confianza con una atención personalizada
          basada en las necesidades específicas de cada cliente.

        </p>


    </div>
<div class="col-sm-4  mb-2" style="float: right;">
  <img class="mat-elevation-z8 imagen" src="../../assets/img/acesoria.png">
</div>
</div>
</section>

<div style="clear: both;"></div>

<div  style="background-color:black;height: 100px;">

</div>

<section   class="fondo-imagen" style="background-image: url('../../assets/img/Guía-práctica-para-iniciar-un-negocio-en-bienes-raíces-1280x720.jpg');">
<div class="container">
  <br>

<div  class=" row">
  <div class="col-sm-4  mb-2">
    <img class="mat-elevation-z8 imagen" src="../../assets/img/login-servium.png">
    </div>


   <div class="mat-elevation-z8 info col-sm-8 "  >
    <br>
    <h1 >
      <strong>VISIÓN</strong>
    </h1>

        <p>
          Ser una compañía de excelencia relevante para el mercado inmobiliario, reconocida por su ética y valores,
           contar con un amplio portafolio de servicios inmobiliarios, generando confianza en nuestros clientes
           mediante la asesoría constante durante la adquisición de la propiedad,
           Ser una empresa donde los colaboradores trabajen en un adecuado ambiente y clima laboral,
           fomentando el crecimiento profesional.
         </p>

        </div>
  </div>
</div>
</section>


  <div style="clear: both;"></div>

  <div  style="background-color:black;height: 100px;">

  </div>


  <section   style="background-color:#000;" >
    <div class="container" >
         <h1   id="colaboradores">
        <strong>COLABORADORES</strong>
      </h1>

      <div class="row">

        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>FERNANDO VELAZCO</mat-card-title>
            <mat-card-subtitle>descriovion.....</mat-card-subtitle>
          </mat-card-header>
          <img  class="card-imagen" src="../../assets/img/servium-vertical.png" alt="Photo of a Shiba Inu">
          <mat-card-content>

            <ul style="list-style: none; column-count: 2;column-width:120px;" >
              <li>telefono:0981542097</li>
              <li>correo:xxxxxxx</li>
            </ul>
          </mat-card-content>
          <mat-card-actions>
            <a href="mailto:erickdavidbarrera3b@gmail.com"><button mat-button class="btn btn-success">Contactar</button></a>
          </mat-card-actions>
        </mat-card>



        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>FERNANDO VELAZCO</mat-card-title>
            <mat-card-subtitle>descriovion.....</mat-card-subtitle>
          </mat-card-header>
          <img class="card-imagen" src="../../assets/img/servium-vertical.png" alt="Photo of a Shiba Inu">
          <mat-card-content>

            <ul style="list-style: none; column-count: 2; column-width:120px;" >
              <li>telefono:0981542097</li>
              <li>correo:xxxxxxx</li>
            </ul>
          </mat-card-content>
          <mat-card-actions>
            <a href="mailto:erickdavidbarrera3b@gmail.com"><button mat-button class="btn btn-success">Contactar</button></a>
          </mat-card-actions>
        </mat-card>
        <div>

        </div>

      </div>








 </div>
  </section>


 <div style="clear: both;"></div>



