<nav class="navbar navbar-expand-lg fixed-top" color-on-scroll="500">

  <div class="container">

      <div class="navbar-translate">
        <a  class="navbar-brand" routerLink=""> <img src="../../assets/img/LOGO-SERVIUM.jpg" style="max-width:300px; width: 100%;"></a>
          <button id="togleButton" class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
              <span class="navbar-toggler-bar"></span>
              <span class="navbar-toggler-bar"></span>
              <span class="navbar-toggler-bar"></span>
          </button>

      </div>
      <div class="navbar-collapse" id="navbarToggler">
          <ul class="navbar-nav ml-auto">
              <li *ngIf="!usuarioLogeado" class="nav-item" >
                <a routerLink="" class="btn btn-item "(click)="sidebarToggle()">INICIO</a>
            </li>
            <li *ngIf="!usuarioLogeado" class="nav-item" >
              <a routerLink="/about" class="btn btn-item "(click)="sidebarToggle()">NOSOTROS</a>
          </li>
          <li *ngIf="!usuarioLogeado" class="nav-item" >
            <a routerLink="/contacto" class="btn btn-item "(click)="sidebarToggle()">CONTACTOS</a>
        </li>


              <li *ngIf="!usuarioLogeado" class="nav-item" >
                  <a routerLink="/publicacion" class="btn btn-item "(click)="sidebarToggle()">Propiedades</a>
              </li>

              <li *ngIf="usuarioLogeado" class="nav-item" >
                <a routerLink="admin/categorias" class="btn btn-item" (click)="sidebarToggle()">Categorias</a>
            </li>
            <li *ngIf="usuarioLogeado" class="nav-item" >
              <a routerLink="admin/transaccion" class="btn btn-item" (click)="sidebarToggle()">Transacciones</a>
          </li>

          <li *ngIf="usuarioLogeado" class="nav-item" >
            <a routerLink="admin/Propiedades" class="btn btn-item" (click)="sidebarToggle()">Propiedades</a>
          </li>

          <li *ngIf="usuarioLogeado && rol()" class="nav-item" >
            <a routerLink="admin/usuarios" class="btn btn-item" (click)="sidebarToggle()">Usuarios</a>
          </li>
          <li *ngIf="usuarioLogeado" class="nav-item" >
            <button  mat-button [matMenuTriggerFor]="aboveMenu"> <a  class="btn-usuario row" (click)="sidebarToggle()"><img src="{{urlUsuario}}">{{nombreUsuario}}</a></button>
            <mat-menu #aboveMenu="matMenu" yPosition="above">
              <button  routerLink='admin/upgradeusuario' style="margin-top:40px;" mat-menu-item>Configurar cuenta</button>
              <button routerLink="admin/logout" mat-menu-item>
                cerrar sesión
               </button>
            </mat-menu>
            </li>
          </ul>


      </div>
    </div>
</nav>


