

    <div class="contenedor" >
                <form  [formGroup]="loginForm" (ngSubmit)="onLogin()"  class="div-form" >
                  <h2 class="title"><strong>SERVIUM</strong></h2>
                  <div>
                    <mat-icon> email</mat-icon>
                    <mat-form-field class="input-form">
                     <input    type="text" placeholder="Usuario" matInput formControlName="username" required  />

                    <mat-error *ngIf="isValidFiel('username')">
                      {{getErrorMessage('username')}}
                    </mat-error>
                  </mat-form-field>
                  </div>

                <div>
                  <mat-icon >lock </mat-icon>
                  <mat-form-field class="input-form" >
                     <input id="password" type="password" placeholder="Contraseña" matInput required formControlName="password"/>

                    <mat-error *ngIf="isValidFiel('password')" style="width: 100%;">
                      {{getErrorMessage('password')}}
                    </mat-error>
                  </mat-form-field>

                    <button id="show_password" class="btn btn-primary" type="button" (click)="mostrarContrasena()"> <span class="fa fa-eye-slash icon"></span> </button>

                  <div>
                  <input  type="submit" value="Login" class="btn btn-item" />
                </div>
                </div>
                </form>
            </div>







