.navbaradmin {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

.navbaradmin  li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color:#45D3FD;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
  text-align: center;
  font-size: 18px;
  color:#FFFFFF;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbaradmin  li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.navbaradmin  li.selected {
  background-color: #CFD8DC;
  color: white;
}
.navbaradmin  li.selected:hover {
  background-color: #BBD8DC;
  color: white;
}
.navbaradmin  .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color:#405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

