

<div class="slider">
  <a  *ngIf="usuarioLogeado" class="btn-round btn-success" id="btn-add" style="color: black; font-size: 20px;margin-top: 0%; float: left;position: relative; " routerLink="admin/publicidad"><button style="background-color:#F1F1FF;" mat-icon-button ><mat-icon>add</mat-icon></button>&nbsp; CREAR PUBLICIDAD</a>
  <mat-carousel
  timings="250ms ease-in"
  [autoplay]="true"
  interval="3000"
  color="accent"
  maxWidth="auto"
  [maintainAspectRatio]="false"
  slides="10"
  [loop]="true"
  [hideArrows]="true"
  [hideIndicators]="false"
  [useKeyboard]="true"
  [useMouseWheel]="false"
  orientation="ltr"

>
<mat-carousel-slide
  #matCarouselSlide
  *ngFor="let slide of publicidades; let i = index"
  [image]="slide.pub_imagen"
  overlayColor=""
  [hideOverlay]="false"
>
<a  href="tel:+593981542097" class="telefono animate__animated animate__headShake animate__infinite animate__delay-2s"><strong><img style="height: 10%;" src="../../assets/img/call-white-18dp.svg"> 0981542097</strong></a>
<div style="display: flex;justify-content: center;align-items:center; width: 100%;">
  <div class="animate__animated animate__bounceInDown" style=" background-color:white;opacity: 0.7;  margin-top: 5%; text-align: center;" >
    <strong class="frase1" >
       <br>{{slide.pub_frase1}}
      </strong > <br><br>
      <strong class="frase2" >{{slide.pub_frase2}}</strong>
  </div>


</div>
<div style="display: flex;justify-content: center;align-items:center; width: 100%;" class="col">
<div  class="animate__animated animate__bounceInUp animate__delay-1s" style=" background-color:black;opacity: 0.7; margin-top:2%;  text-align: center;" >
 <h1 > <strong class="frase3" >
     <br>{{slide.pub_frase3}}</strong></h1>
</div>
</div>
</mat-carousel-slide>



</mat-carousel>


</div>


