

  <div _ngcontent-C3 class="container" style="align-items: center; justify-content: center; margin-top: 100px;"  >

  <ngb-carousel [showNavigationArrows]="true"
  [showNavigationArrows]="true"
  interval="1500"
  [keyboard]="true"
  [activeId]="'secondSlide'"
  >
  <ng-template ngbSlide id="firsSlide">
    <div >
      <img src="https://imganuncios.mitula.net/proyectos_de_vivienda_2390059532438136658.jpg" alt="Angular Carousel 1">
    </div>
    <div class="carousel-caption">
      <div class="row">
        <div class="col-xl-6 col-lg-7 text-white">
         <span>New Collectoin</span>
         <h2>VESTE </h2>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template ngbSlide id="secondSlide">
    <div >
      <img src="https://thumbs4.properati.com/2/9AUU5JeY_bH-MW6xQShdURSktCM=/trim/570x428/smart/filters:strip_icc()/https://properati-s3-ec.s3-us-west-2.amazonaws.com/developments/182/https-properati-s3-ec-s3-us-west-2-amazonaws-com-temp-developments-editor-28fd1f88-e81d-451b-a864-10889ad29783-casas_kintu-jpg" alt="Angular Carousel 2">
    </div>
    <div class="carousel-caption">
      <div class="row">
        <div class="col-xl-6 col-lg-7 text-white">
         <span>New Collectoin</span>
         <h2>VESTE MOTARD</h2>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template ngbSlide id="thirdSlide">
    <div >
      <img src="../../assets/img/faces/ayo-ogunseinde-2.jpg" alt="Angular Carousel 2">
    </div>
    <div class="carousel-caption">
      <div class="row">
        <div class="col-xl-6 col-lg-7 text-white">
         <span>New Collectoin</span>
         <h2>VESTE MOTARD</h2>
        </div>
      </div>
    </div>
  </ng-template>
  </ngb-carousel>
</div>


